<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DogApp</title>
	<link rel="stylesheet" href="styleindex.css" type="text/css">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
</head>

<body>
	<h1>Welcome to the Dog App!</h1>

	To see a random picture of a dog <a href="/dogGenerator">Generate Dog!</a><br><br>
	To vote for your favorite breed of dog <a href="/dogVoting">Vote Here!</a><br><br>
    To see the current leaderboard <a href="/dogTable">Current Dog Favorites!</a><br><br>
</body>

</html>
